Source: cython
Section: python
Priority: optional
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: Ondrej Certik <ondrej@certik.cz>
Build-Depends: cdbs (>= 0.4.41), debhelper (>= 5.0.38), python (>= 2.4.4-6)
Build-Depends-Indep: python-support (>= 0.7.5)
Standards-Version: 3.7.3
Homepage: http://cython.org/
Vcs-Svn: svn://svn.debian.org/svn/python-apps/packages/cython/trunk
Vcs-Browser: http://svn.debian.org/wsvn/python-apps/packages/cython/trunk/?op=log
XS-DM-Upload-Allowed: yes

Package: cython
Architecture: all 
Depends: ${python:Depends}, ${misc:Depends}
Suggests: gcc
XB-Python-Version: ${python:Versions}
Description: C-Extensions for Python
 Cython is a language that makes writing C extensions for the Python language as
 easy as Python itself.
 .
 Cython is based on the well-known Pyrex, but supports more cutting edge
 functionality and optimizations.
 .
 Development of Cython is mainly motivated by the needs of SAGE. 
